In [10]:
import pandas as pd

In [11]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

a = [4,8,15,16,23,42]
series = pd.Series(a)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

l = list([1,2,3,4,5,6,7,8,9,10])
series_1 = pd.Series(l)
print(series_1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
# Q3. Create a Pandas DataFrame that contains the following data:

data = {
    "Name":['Alice', 'Bob', 'Claire'],
    "Age":[25,30, 27],
    "Gender":["Female", "Male", "Female"]
}

data_df = pd.DataFrame(data)
data_df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional table-like data structure with rows and columns, where each column can have a different data type.A DataFrame can be created using various input formats such as lists, dictionaries, or other DataFrames.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a DataFrame, and can be created using a list or a dictionary.

In [14]:
#Example : 
print("SERIES")
print(series)
print("\nDATAFRAME")
print(data_df)

SERIES
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

DATAFRAME
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions are:

1. `head()` and `tail()`: These functions allow you to view the first or last few rows of a DataFrame, respectively. They are useful for quickly checking the structure of a DataFrame or for getting a sense of the data it contains.

2. `groupby()`: This function allows you to group the rows of a DataFrame based on the values in one or more columns. You can then apply aggregate functions to the groups, such as mean, sum, count, or custom functions.

3. `drop()`: This function allows you to remove rows or columns from a DataFrame. You can specify the axis (0 for rows, 1 for columns), and the labels of the rows or columns to be removed.

In [26]:
#Example : 
print(data_df.head())
group = data_df.groupby('Gender').mean()
print(group)
df = data_df.drop('Gender', axis=1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
         Age
Gender
Female  26.0
Male    30.0
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

/tmp/ipykernel_77/1934990736.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group = data_df.groupby('Gender').mean()

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A `Series` is mutable in nature, while a DataFrame and Panel are mutable in certain ways, but not entirely.

In a Series, you can modify individual elements by index, and you can add or remove elements.
```
s = pd.Series([1, 2, 3])

# modify an element by index
s[1] = 4

# add an element
s[3] = 5

# remove an element
s = s.drop(2)
```

In a `DataFrame`, you can modify individual elements or entire columns by index, but you cannot add or remove columns directly (you can only drop them). For example:
```
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# modify an element by index
df.loc[1, 'B'] = 10

# modify an entire column by index
df['C'] = [10, 11, 12]

# drop a column
df = df.drop('A', axis=1)
```

In a `Panel`, you can modify individual elements or entire panels by index, but you cannot add or remove panels directly (you can only drop them)

In [29]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

name = pd.Series(['Aman', 'Ahana', 'Priya'])
age = pd.Series([17,19,21])
gender = pd.Series(['Male', 'Female', 'Female'])

data = {
    'Name':name, 'Age':age , 'Gender':gender
}
pd.DataFrame(data)

    Name  Age  Gender
0   Aman   17    Male
1  Ahana   19  Female
2  Priya   21  Female

In this example, we create three `Series` objects: name, age, and gender. We then create a dictionary called data with three keys (Name, Age, and Gender) and their corresponding Series as values. Finally, we create a DataFrame object called df by passing the data dictionary to the `pd.DataFrame()` constructor.

The resulting DataFrame has three columns (Name, Age, and Gender) and three rows of data, one for each person.