Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a way that makes it easy to access, manage, and update. It is designed to store and retrieve large amounts of data quickly and efficiently.

* SQL databases are relational databases that store data in tables with pre-defined relationships between them. The data is organized into rows and columns, and the relationships between tables are established using keys. 

* NoSQL databases, on the other hand, are non-relational databases that store data in a more flexible, unstructured way. They are designed to handle large amounts of unstructured and semi-structured data, such as social media posts, emails, and documents.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete objects in the database, such as tables, indexes, views, and procedures.
	
    1. CREATE: This statement is used to create new objects in the database, such as tables, views, indexes, and procedures. 
    CREATE TABLE user(
    	id INT PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        email VARCHAR(100) UNIQUE
    );
    
    2. DROP: This statement is used to delete objects from the database, such as tables, views, and indexes.
    DROP TABLE user ; 

	3. ALTER: This statement is used to modify the structure of an existing object in the database, such as adding or removing columns from a table. For example, the following statement adds a new column named "phone" to the "users" table:
		ALTER TABLE user ADD COLUMN phone VARCHAR(40) ; 
        
	4. TRUNCATE: This statement is used to delete all the data from a table while keeping its structure intact. It is faster than using the DELETE statement because it doesn't log each individual row deletion. For example, the following statement deletes all the data from the "users" table:
   		TRUNCATE TABLE user ;

DML stands for Data Manipulation Language. It is a subset of SQL used to insert, update, and delete data in a database. DML statements are used to modify the data within the objects defined by DDL statements.


INSERT: This statement is used to insert new data into a table. For example, the following statement inserts a new row into the "users" table:

```INSERT INTO users (id, name, email) VALUES (1, 'John Doe', 'john@example.com');```

UPDATE: This statement is used to modify existing data in a table. For example, the following statement updates the email of the user with id 1:

```UPDATE users SET email='johndoe@example.com' WHERE id=1;```

DELETE: This statement is used to delete data from a table. For example, the following statement deletes the user with id 1 from the "users" table:

```DELETE FROM users WHERE id=1;```

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands allow users to search, filter, and sort data in a database.

SELECT is a DQL command used to retrieve data from one or more tables in a database. The basic syntax for SELECT is as follows:

```SELECT colum1 FROM table_name WHERE id=1 ; ```

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It cannot contain null values and must be unique within the table. A primary key constraint ensures that there are no duplicate records in the table. Primary keys are used to establish relationships between tables in a database.

A foreign key is a column or set of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables, allowing data to be retrieved from both tables using a join. A foreign key constraint ensures that data entered into the foreign key column matches the values in the primary key column of the related table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

``` import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test_databse.test_table(c1 INT , c2 VARCHAR(39), c3 INT)")

mydb.close()
```

In this code, we first establish a connection to the MySQL database by providing the host name, username, password, and database name. Then, we create a cursor object using the cursor() method.

Next, we use the execute() method of the cursor object to execute a SQL statement. In this example, we execute a simple SELECT statement that retrieves all rows from a table called "mytable". The execute() method returns no value.

Q7. Give the order of execution of SQL clauses in an SQL query.

* FROM: Specifies the table or tables to be queried.

* JOIN: Combines rows from two or more tables based on a related column between them.

* WHERE: Filters rows based on a condition.

* GROUP BY: Groups rows based on a common value in one or more columns.

* HAVING: Filters groups based on a condition.

* SELECT: Selects specific columns or expressions to be returned in the query result.

* DISTINCT: Removes duplicate rows from the query result.

* ORDER BY: Sorts the query result by one or more columns.

* LIMIT: Limits the number of rows returned by the query.